body {
  margin: 0;
  padding: 0;
  font-family: 'Muli', sans-serif;
}
#container {
  min-height: 100vh;
  position: relative;
}
#body {
  padding: 10px;
  padding-bottom: 60px; /* Height of the footer */
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Height of the footer */
  background: #000000;
  color: #ffffff;
}
:root {
  --intro-heading-font: 34px;
  --intro-img-width: 350px;
}
/* HEADER */
.nav-brnd {
  display: flex;
  align-items: center;
}
.nav-brnd-logo {
  margin-right: 6px;
}
.nav-brnd-title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
}
.nav-brnd-title span {
  display: block;
  font-size: 13px;
  font-weight: 700;
}
.right-nav span {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0 20px;
}

/* -------------------------------------------------------------- */
/* MOBILE NAV COMPONENT */
/* -------------------------------------------------------------- */
.Mobile-Nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  border-top: 1px solid #e6e6e6;
}
.Mobile-Nav-Items {
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Mobile-Nav-Item {
  text-align: center;
}
.Mobile-Nav-Item img {
  max-height: 19px;
}
.Mobile-Nav-Item span {
  font-size: 13px;
  display: block;
}
.Mobile-Nav-Item-Active {
  color: #d1292f;
  font-weight: 700;
}

/* INTRO */
.intro-jumbotron {
  /* background-image: linear-gradient(129deg, #392dd1 0%, #a91b78 100%); */
  background-image: linear-gradient(129deg, #d1292f 0%, #60006d 100%);
  color: #ffffff;
  margin: 0;
}
.intro-section {
  display: flex;
  align-items: center;
}
.intro-heading {
  font-size: var(--intro-heading-font);
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 50px;
  margin-bottom: 20px;
}
.intro-description {
  font-size: 18px;
  font-weight: 300;
}
.intro-img {
  display: block;
  width: var(--intro-img-width);
  margin: auto;
}

/* SECTION */
section {
  padding: 70px 0;
}
/* -------------------------------------------------------------- */
/* Cockpit Component */
/* -------------------------------------------------------------- */
.Cockpit-Title {
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  /* color: #ff4530; */
  color: #392dd1;
}

.Cockpit-Description {
  font-size: 19px;
  font-weight: 400;
  color: #3e3e49;
  max-width: 600px;
  margin: auto;
  text-align: center;
}
@media (max-width: 1199.98px) {
  .Cockpit-Title {
    font-size: 19px;
  }
  .Cockpit-Description {
    font-size: 17px;
  }
}

/* -------------------------------------------------------------- */
/* Skill Card Component */
/* -------------------------------------------------------------- */
.Skill-Card {
  border: none;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.Skill-Card-Header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.Skill-Card-Header img {
  padding-right: 10px;
}
.Skill-Card-Header-Right h4 {
  font-size: 16px;
  font-weight: 700;
}
.Skill-Card-Header-Right span {
  font-size: 14px;
}
.Skill-Card-Body {
  padding: 0 10px;
  font-size: 16px;
}

@media (max-width: 767.98px) {
  .Skill-Card {
    margin-bottom: 20px;
  }
  .Skill-Card-Header-Right h4 {
    font-size: 14px;
  }
  .Skill-Card-Body {
    font-size: 14px;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .Skill-Card-Header-Right h4 {
    font-size: 14px;
  }
  .Skill-Card-Body {
    font-size: 14px;
  }
}

/* ---------------------------- MY SILLS SECTION ----------------------- */
.My-Skills-Sec {
  background-color: #ffffff;
}
.My-Skills-Body {
  margin-top: 80px;
}

/* PROJECT SECTION */
.Projects-Sec {
  background-color: #f8f8f8;
}
.Projects-Sec-Body {
  margin-top: 80px;
}
.Scrolling-Cards {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin: auto;
}
.Scrolling-Cards::-webkit-scrollbar {
  display: none;
}
.Project-Card {
  display: inline-block;
  min-width: 300px;
  border: none;
  margin: 0 10px 10px 20px;
  text-align: center;
  cursor: pointer;
}
.Project-Card:hover {
  background-color: #3e3e49;
  color: #ffffff;
  transition: background-color 0.5s ease-in;
}
.Project-Card img {
  margin-bottom: 10px;
}
.Project-Card-Name {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 1199.98px) {
  .Project-Card-Name {
    font-size: 14px;
  }
}

/* ------------------------------------------ */
/* FOOTER COMPONENT */
/* ------------------------------------------ */
.Footer-Content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ------------------------------------------ */
/* HEADER SECTION MEDIA QUERIES */
/* ------------------------------------------ */
@media (max-width: 767.98px) {
  .nav-brnd-logo {
    margin-left: -20px;
  }
  .nav-brnd-logo img {
    width: 33px;
  }
  .nav-brnd-title {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
  }
  .nav-brnd-title span {
    display: block;
    font-size: 12px;
    font-weight: 700;
  }
}

/* ------------------------------------------ */
/* INTRO SECTION MEDIA QUERIES */
/* ------------------------------------------ */
@media (max-width: 575.98px) {
  :root {
    --intro-heading-font: 23px;
    --intro-img-width: 250px;
  }
  .intro-heading {
    text-align: center;
    line-height: 40px;
  }
  .intro-description {
    font-size: 16px;
    text-align: center;
    margin-bottom: 50px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  :root {
    --intro-heading-font: 23px;
    --intro-img-width: 350px;
  }
  .intro-heading {
    text-align: center;
    line-height: 40px;
  }
  .intro-description {
    font-size: 16px;
    text-align: center;
    margin-bottom: 50px;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  :root {
    --intro-heading-font: 23px;
    --intro-img-width: 350px;
  }
  .intro-heading {
    line-height: 40px;
  }
  .intro-description {
    font-size: 16px;
  }
}
