body {
  margin: 0;
  padding: 0;
  font-family: 'Muli', sans-serif;
}
:root {
  --intro-heading-font: 34px;
  --intro-img-width: 350px;
}
/* HEADER */
.nav-brnd {
  display: flex;
  align-items: center;
}
.nav-brnd-logo {
  margin-right: 6px;
}
.nav-brnd-title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
}
.nav-brnd-title span {
  display: block;
  font-size: 13px;
  font-weight: 700;
}
.right-nav span {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0 20px;
}
/* INTRO */
.intro-jumbotron {
  /* background-image: linear-gradient(129deg, #392dd1 0%, #a91b78 100%); */
  background-image: linear-gradient(129deg, #d1292f 0%, #60006d 100%);
  color: #ffffff;
}
.intro-section {
  display: flex;
  align-items: center;
}
.intro-heading {
  font-size: var(--intro-heading-font);
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 50px;
  margin-bottom: 20px;
}
.intro-description {
  font-size: 18px;
  font-weight: 300;
}
.intro-img {
  display: block;
  width: var(--intro-img-width);
  margin: auto;
}

/* ------------------------------------------ */
/* HEADER SECTION MEDIA QUERIES */
/* ------------------------------------------ */
@media (max-width: 767.98px) {
  .nav-brnd-logo {
    margin-left: -20px;
  }
  .nav-brnd-logo img {
    width: 33px;
  }
  .nav-brnd-title {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
  }
  .nav-brnd-title span {
    display: block;
    font-size: 12px;
    font-weight: 700;
  }
}

/* ------------------------------------------ */
/* INTRO SECTION MEDIA QUERIES */
/* ------------------------------------------ */
@media (max-width: 575.98px) {
  :root {
    --intro-heading-font: 23px;
    --intro-img-width: 250px;
  }
  .intro-heading {
    text-align: center;
    line-height: 40px;
  }
  .intro-description {
    font-size: 16px;
    text-align: center;
    margin-bottom: 50px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  :root {
    --intro-heading-font: 23px;
    --intro-img-width: 350px;
  }
  .intro-heading {
    text-align: center;
    line-height: 40px;
  }
  .intro-description {
    font-size: 16px;
    text-align: center;
    margin-bottom: 50px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  :root {
    --intro-heading-font: 23px;
    --intro-img-width: 350px;
  }
  .intro-heading {
    line-height: 40px;
  }
  .intro-description {
    font-size: 16px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  :root {
    --intro-heading-font: 23px;
    --intro-img-width: 350px;
  }
  .intro-heading {
    line-height: 40px;
  }
  .intro-description {
    font-size: 16px;
  }
}
